{% extends 'base.html.twig' %}

{% block title %}Locatie index{% endblock %}

{% block body %}
    <h1>Locatie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Locatie</th>
                <th>Beschrijving</th>
                <th>Email</th>
                <th>Telenr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for locatie in locaties %}
            <tr>
                <td>{{ locatie.id }}</td>
                <td>{{ locatie.locatie }}</td>
                <td>{{ locatie.beschrijving }}</td>
                <td>{{ locatie.email }}</td>
                <td>{{ locatie.telenr }}</td>
                <td>
                    <a href="{{ path('app_locatie_show', {'id': locatie.id}) }}">show</a>
                    <a href="{{ path('app_locatie_edit', {'id': locatie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_locatie_new') }}">Create new</a>
{% endblock %}
